*{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}
body{
    font-family: poppins;
    width: auto;
}
nav{
    height: 70px;
    width: 100%;
    background: #fff;
    padding-top: 15px;
    text-align: center;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.1);
}
nav h1{
    position: absolute;
    padding-top: 15px;
    font-size: 25px;
    text-align: center;
    width: 200px;
    top: 8px;
    color: #000;
}
nav ul{
    float: right;
    margin-right: 25px;
    text-align: center;
    list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    padding: 5px 0;
    color: #000;
    font-size: 25px;
    text-decoration: none;
}
nav ul li a:hover{
    font-size: 30px;
    text-decoration: none;
    color: #000;
}
label #sign-one,
label #sign-two{
    font-size: 30px;
    color: #000;
    line-height: 50px;
    margin-left: 400px;
    cursor: pointer;
    display: none;
    float: right;
}
#res-menu{
    display: none;
}
.home{
    padding-top: 50px;
    padding-left: 200px;
}
.home a{
    color: blue;
    text-decoration: none;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 150px;
}
.home h1{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 150px;
}
.home img{
    border-radius: 20px;
    width: 75em;
}
.home .inner-home h1{
    padding-left: 150px;
}
.home .inner-home p{
    padding-left: 150px;
    font-size: 20px;
    line-height: normal;
}
.home .inner-home #mail-box{
    padding-left: 150px;
}
.main{
    position: absolute;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 50px;
}
input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
input[type="email"]{
    background: #fff;
    width: 290px;
    height: 40px;
    border-style: dashed;
    border-radius: 5px;
    outline: none;
}
input[type="submit"]{
    position: relative;
    left: -110px;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: #88c9f7;
}
/*SERVICE SECTION*/
#services{
    margin: 20px;
    padding-top: 100px;
    padding-bottom: 70px;
    padding-left: 200px;
}
.service h1{
    font-size: 30px;
    padding-bottom: 35px;
}
}
h2{
    color: #000;
    text-align: left;
    letter-spacing: 2px;
}
.container p{
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 10px;
}
.container{
    max-width: 1170px;
    width: 100%;
    display: flex;
    margin-top: 30px;
}
.container .column{
    margin: 0 15px 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
    0 1px 2px rgba(0,0,0,0.24);
    background: #fff;
    flex-basis: 33%;
}
.container .column .card{
    padding: 15px 15px;
}
.container .column .card button{
    height: 35px;
    width: 100px;
    color: #5e6061;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 10px;
}
.container .column .card button:hover{
    font-size: 18px;
    color: #5e6061;
}
/*OUR-WORK SECTION*/
.our-works{
    padding: 40px 150px 140px 200px;
}
.our-works h2{
    padding: 0px 50px 50px 0px;
}
.our-works .phase1 img{
    padding-top: 150px;
    padding-bottom: 40px;
    
}
.our-works .phase2 img{
    padding: 40px 0px;
}
.phase2 .juice-product{
    margin-top: 70px;
}

/*CLIENTR SECTION*/
#clients{
    width: 100%;
    height: 100vh;
}
.client1{
    text-align: left;
    transform: translate(25%,40%);
}
.client1 h5{
    color: #f24e53;
    font-size: 30px;
}
.client1 h2{
    font-size: 45px;
}
.client1 p{
    font-size: 25px;
}
.row img{
    border-radius: ;
}
.row .person3{
    width: 170px;
    padding-top: 150px;
    margin-left: 10px;
}
.row #person2{
    padding-top: 30px;
    margin-left: 140px;
    padding-bottom: 50px; 
    width: 300px;
}
.row #person1{
    padding-left: 150px;
}
.person4{
    margin-left: 200px;
    width: 100%;
}
.person4 img{
    padding-top: 20px;
    height: 120px;
    width: 100px;
}
.person4 h5{
    padding-top: 22px;
    padding-right: 20px;
    font-size: 25px;
}
.person4 p{
   font-size: 16px;
}

/*FOOTER SECTION*/
.footer{
    background: #2e2e30;
    height: 60vh;
    margin-top: 300px;
}
.column1{
    padding-top: 70px;
    text-decoration: none;
}
.column1 ul li{
    text-decoration: none;
}
.column1 li a{
    height: 50px;
    width: 70px;
    color: #fff;
    font-size: 25px;
    padding-top: 50px;;
    padding: 150px;
    text-decoration: none;
}
.column2{
    color: #fff;
    transform: translate(10%,30%);
}

.column2 h5{
    font-size: 20px;
}
.column2 a{
    font-size: 30px;
    color: #fff;
    padding-right: 10px;
    letter-spacing: space-between;
}
.column3{
    transform: translate(-10%,30%);
    color: #fff;
    font-size: 20px;
}
.column3 .main{
    position: absolute;
    left: -130px;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 50px;
}
input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
input[type="email"]{
    background: #fff;
    width: 290px;
    height: 40px;
    border-style: dashed;
    border-radius: 5px;
    outline: none;
}
input[type="submit"]{
    position: relative;
    left: -110px;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: #88c9f7;
}




@media (max-width: 1000px){
    label #sign-one{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: .5s;
        z-index: 10;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #res-menu:checked ~ ul{
        left: 0;
    }
    #res-menu:checked ~ label #sign-one{
        display: none;
    }
     #res-menu:checked ~ label #sign-two{
        display: block;
    }
    
    .home{
        width: 870px;
        padding-top: 20px;
        padding-bottom: 10px;
        transform: translate(-20%);
        
    }
    .home a{
        color: blue;
        text-decoration: none;
        font-size: 16px;
        padding-top: 30px;
        padding-left: 0px;
    }
    .home h1{
        font-size: 22px;
        padding-top: 20px;
        padding-bottom: 30px;
        padding-left: 1px;
    }
    .home img{
        border-radius: 20px;
        margin-right: 100px;
        width: 27em;
    }
    .home .inner-home h1{
        padding-left: 1px;
    }
    .home .inner-home p{
        padding-left: 0px;
        font-size: 15px;
        line-height: normal;
    }
    .home .inner-home #mail-box{
        padding-left: 150px;
    }
    .main{
        position: absolute;
        margin-left: 150px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    input{
        position: sticky;
        display: inline-block;
        font-size: 20px;
        box-sizing: border-box;
        transition: .5s;
    }
    input[type="email"]{
        background: #fff;
        width: 150px;
        height: 40px;
        transform: translate(-100%,-20%);
        border-style: dashed;
        border-radius: 5px;
        outline: none;
    }
    input[type="submit"]{
        position: absolute;
        left: -1px;
        border-radius: 5px;
        border: none;
        width: 50px;
        height: 30px;
        transform: translate(-100%,-20%);
        cursor: pointer;
        background: #88c9f7;
    }
    
    #services{
        margin: 20px;
        padding-top: 50px;
        padding-bottom: 10px;
        padding-left: 50px;
        transform: translate(-8%);
    }
    .service h1{
        font-size: 25px;
        padding-bottom: 3px;
    }
    h2{
        color: #000;
        text-align: left;
        letter-spacing: 2px;
    }
    .container p{
        font-size: 18px;
        letter-spacing: 0.5px;
        padding: 10px;
    }
    .container{
        max-width: 1170px;
        width: 100%;
        display: flex;
        margin-top: 30px;
    }
    .container .column{
        margin: 0 15px 25px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12),
        0 1px 2px rgba(0,0,0,0.24);
        background: #fff;
        flex-basis: 33%;
    }
    .container .column .card{
        padding: 15px 15px;
        transform: translate(-15%);
    }
    .container .column .card button{
        height: 35px;
        width: 100px;
        color: #5e6061;
        font-size: 15px;
        border-radius: 10px;
        margin-left: 10px;
    }
    .container .column .card button:hover{
        font-size: 18px;
        color: #5e6061;
    }
    
    .our-works{
        padding: 40px 10px 0px 50px;
    }
    .our-works h2{
        font-size: 30px;
    }
    .our-works .phase1 img{
        padding-top: 5px;
        padding-bottom: 10px;
        height: 300px;

    }
    .our-works .phase2 img{
        padding-top: 5px;
        padding-bottom: 10px;
        height: 300px;
    }
    .phase2 .juice-product{
        margin-top: 70px;
    }
    
    #clients{
        width: 100%;
        height: auto;
    }
    .client1{
        text-align: left;
        transform: translate(10%,20%);
    }
    .client1 h5{
        color: #f24e53;
        font-size: 20px;
    }
    .client1 h2{
        font-size: 35px;
    }
    .client1 p{
        font-size: 20px;
    }
    .row .person3{
        padding-top: 50px;
        margin-left: 45px;
    }
    .row #person2{
        padding-top: 30px;
        margin-left: 50px;
        padding-bottom: 50px; 
        width: 320px;
        
    }
    .row #person1{
        padding-top: 30px;
        padding-left: 50px;
        width: 365px;
    }
    .person4{
        margin-left: 60px;
        width: 100%;
        font-size: 10px;
    }
    .person4 img{
        padding-top: 20px;
        height: 120px;
        width: 100px;
    }
    .person4 h5{
        padding-top: 22px;
        padding-right: 20px;
        font-size: 20px;
    }
    .person4 p{
       font-size: 14px;
    }
    .person4 h3{
        font-size: 18px;
    }
    .footer{
        background: #2e2e30;
        height: 90vh;
        margin-top: 30px;
    }
    .column1{
        padding-top: 40px;
        text-decoration: none;
    }
    .column1 ul li{
        text-decoration: none;
    }
    .column1 li a{
        height: 50px;
        width: 70px;
        color: #fff;
        font-size: 25px;
        padding-top: 50px;;
        padding: 150px;
        text-decoration: none;
    }
    .column2{
        color: #fff;
        transform: translate(30%,30%);
    }

    .column2 h5{
        font-size: 25px;
    }
    .column2 a{
        font-size: 30px;
        color: #fff;
        padding-right: 10px;
        letter-spacing: space-between;
    }
    .column3{
        transform: translate(17%,150%);
        color: #fff;
        font-size: 25px;
    }
    .column3 .main{
        position: absolute;
        left: 130px;
        margin-left: 170px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .footer input{
        position: relative;
        display: inline-block;
        font-size: 20px;
        box-sizing: border-box;
        transition: .5s;
    }
    .footer input[type="email"]{
        background: #fff;
        width: 290px;
        height: 40px;
        border-style: dashed;
        border-radius: 5px;
        outline: none;
    }
    .footer input[type="submit"]{
        position: relative;
        left: -10px;
        top: -45px;
        align-items: center;
        align-content: center;
        align-self: center;
        border-radius: 5px;
        border: none;
        width: 70px;
        height: 25px;
        cursor: pointer;
        background: #88c9f7;
        font-size: 15px;
    }

    
    
}

html,body{
    overflow-x: hidden;
}